:root{
	--primary__color: #F1F1F1;
	--secondary__color: #3B3B3B;
	--secondary__light_color: #9a9c9e;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--primary__color);
	font-family: 'Montserrat', sans-serif;
	font-family: 'Oswald', sans-serif;
}
header {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 60px;
 border-bottom: 3px solid #E8E8E8;
}
.header__logo {
	display: flex;
	align-items: center;
	height: 100%;
}
.span__logo{
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	color:#3B3B3B;
	margin-left: 15px;
}
.logo{
	height: 40px;
	width: 50px;
}
.header__menu {
	display: flex;
	gap: 100px;
	height: 100%;
}
.menu{
	padding-top: 20px;
	display: inline-block;
	transition: .15s;
}
.menu:hover {
	border-bottom: 3px solid var(--secondary__color);
}
.menu__link {
	text-transform: uppercase;
	height: 100%;
}
.header__contacts {
	display: flex;
	align-items: center;
	
}
.git {
 	max-width: 30px;
}
.a__git{ 
	margin-left: 10px;
}
a {
	text-decoration: none;
	color: var(--secondary__light_color);
	transition: .3s;
}
a:hover {
	color: var(--secondary__color);
}
li img {
	height: 15px;
	padding-right: 5px;
}
main {
	display: flex;
	flex-direction: column;
	max-width: 79vw;
	margin: 0 auto;
}
.main__search {
	overflow: hidden;
	margin-top: 10vh;
	margin-bottom: 10vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 50px;
}
h2{
	color: var(--secondary__color);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
	transform: translateY(+150%);
	animation: ani 1s forwards;
}
@keyframes ani {
	0% {transform: translateY(+150%)}
	100% {transform: translateY(0);}
}
::placeholder {
	color: var(--primary__color);
	font-size: 16px;
}
.search__block {
	height: 100%;
}
.search {width: 500px; display: inline-block; text-align: center;}
.search form {
  background: var(--secondary__light_color);
  border-bottom: 4px solid var(--secondary__color);
}
.search input, .search button {
  border: none;
  outline: none;
  background: transparent;
	font-size: 16px;
	font-weight: 700;
	color: var(--primary__color);
}
.search input {
  width: 85%;
  height: 42px;
  padding-left: 15px;
}
.search button {
  height: 42px;
  width: 11%;
  cursor: pointer;
}
.search button img {
	height: 18px;
	margin-top: 7px;
  width: 30px;
}
.item {
	width: 370px;
	height: 100px;
	cursor: pointer;
	transition: .2s;
}
.item:hover {
	transform: scale(1.02);
}
.item p {
	color: var(--secondary__color);
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-top: 10px;
}
.item img {
	width: 100%;
}
.collection {
	display: flex;
	justify-content: space-between;
}